[Unit]
Description=My Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/ping.sh

[Install]
WantedBy=multi-user.target
