[Unit]
Description=My Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python3 -u pingServiceClient.py

[Install]
WantedBy=multi-user.target
